{
  "extends": ["stylelint-config-standard","stylelint-config-standard-scss"],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "alpha-value-notation": null,
    "at-rule-no-unknown": null,
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "color-function-notation": "legacy",
    "declaration-block-no-redundant-longhand-properties": null,
    "font-family-name-quotes": "always-where-required",
    "prettier/prettier": true,
    "shorthand-property-no-redundant-values": true,
    "selector-class-pattern": null,
    "keyframes-name-pattern": null,
    "scss/percent-placeholder-pattern": null
  }
}
